.contact__list {
    display: flex;
    margin-left: 280px;
}
.contact__list{
    font-weight: 500;
    line-height: 1.32;
    color: var(--primary-text-color);
    text-decoration: none;
    fill: var(--primary-text-color);  
}
.contact__list .header__link:focus,
.contact__list .header__link:hover{
    color: var(--accent-color);
    fill: var(--accent-color);
}
.curent::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 2px solid #2196F3;
    background-color: #2196F3;
    border-radius: 2px;
    bottom: -1px;
}
.contact__icon :not(:last-child){
    margin-right: 10px;
}
.contact__icon {
    margin-right: 10px;
    fill: currentColor;
}