.header{

    &__link{
    display: block;
    font-weight: 500;
    color: var(--secondary-text-color);
    Line-height: 1.1721;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
    }

    &__list{
        display: flex;
    }

    &__nav{
        padding: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    &__link.curent{
        position: relative;
        color: var(--accent-color);
    }

    &__link.email, .phone{
        color: #757575;
    }
}

.header__item + .header__item{
    margin-left: 50px;
}
.border{
    border: 1px solid #ECECEC;
}