.logo{
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 93px;
}
.colortext{
    color: var(--secondary-text-color);
}
.colortext1{
    color: var(--white-color);
}
